<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration page</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method="post">
    <table>
        <tr>
            <td>Login:</td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Password verification:</td>
            <td><input type="password" name="password_verification"></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('login_page') }}">Login</a></td>
            <td><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>
</body>
</html>
